@{
    Layout = "~/Views/Shared/_Analytics.cshtml";
}
<main ng-model="helloMessage">
    <div class="row">
        <div class="col">
            <canvas id="barChart"></canvas>
        </div>
        <div class="col">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <table id="ticketTable"></table>
</main>


