@{
    Layout = "~/Views/Shared/_Auth.cshtml";
}
<div class="login-form-container">
    <div class="login-form-wrapper" ng-show="loginPage === 1">
        <img class="login-img" src="~/Content/Assets/LOGO.png" />
        <h2 class="title">Sign In</h2>
        <input ng-model="email" type="email" placeholder="Enter your Email" required class="email-text-field" />
        <div>
            <p class="text">No account?<a href="#">Create one!</a></p>
            <a href="#">Can't access your account?</a>
        </div>
        <div class="btns">
            <button class="nextBtn" ng-click="loginNext()">Next</button>
        </div>
    </div>
    <div class="login-form-wrapper" ng-show="loginPage === 2">
        <img class="login-img" src="~/Content/Assets/LOGO.png" />
        <p class="text-white" ng-model="email">{{ email }}</p>
        <h2 class="title">Enter password</h2>
        <p class="text-danger text-sm" ng-show="loginErrorMessage" ng-model="loginErrorMessage">{{ loginErrorMessage }}</p>
        <input ng-model="password" type="password" placeholder="Enter your password" required class="password-text-field" />
        <div class="btns">
            <button class="prevBtn" ng-click="loginPrev()">Back</button>
            <button class="nextBtn" ng-click="login()">Sign In</button>
        </div>
    </div>
</div>
